.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: "primary";
}
body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}
  
.basic-container {
    padding: 30px;  
}